apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: tomcat
  name: cc-tomcat-deploy
  namespace: cc-backend
spec:
  replicas: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1 
  selector:
    matchLabels:
      app: tomcat
  template:
    metadata:
      labels:
        app: tomcat
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 50
              podAffinityTerm:
                labelSelector:
                  matchLabels:
                    app: tomcat
                topologyKey: kubernetes.io/hostname

      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: ScheduleAnyway
          labelSelector:
            matchLabels:
              app: tomcat

      imagePullSecrets:
        - name: ecr-secret

      containers:
        - image: 013255266846.dkr.ecr.ap-northeast-2.amazonaws.com/check-tomcat:v1.0
          name: check-tomcat

          envFrom:
            - configMapRef:
                name: cc-tomcat-configmap
            - secretRef:
                name: cc-tomcat-secret

          resources:
            requests:
              cpu: 100m
              memory: 200Mi
            limits:
              cpu: 200m
              memory: 256Mi

          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 5
            failureThreshold: 5
            timeoutSeconds: 2

          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 10
            failureThreshold: 6
            timeoutSeconds: 2
