apiVersion: v1
kind: Service
metadata:
  labels:
    app: nginx
  name: cc-nginx-svc
  namespace: cc-frontend
spec:
  type: LoadBalancer
  ports:
  - port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: nginx
