apiVersion: v1
kind: Service
metadata:
  labels:
    app: nginx
  name: check-nginx-svc
  namespace: cc-frontend
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: nginx
  type: LoadBalancer
